.head{
    background-color: #d8dcdd;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 20px 1px rgb(141, 136, 136);
}

.myname{
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}